<template>
  <view class="app">
     <view class="switch-content">
        <!-- <text class="switch-text">Learn</text> -->
        <switch v-model="check"/>
     </view>
    <view class="content">
      <text class="text-content">{{ word.text }}</text>
      <text v-if="showcheck" class="key-content" >{{ word.key }}</text>
    </view>
    <view class="nav" v-if="!showcheck">
      <touchable-opacity
        v-for="(item, key) in actions"
        :key="key"
        :on-press="item.onClick"
        :class="[item.cssClass, 'button']"
      >
      <text class="text">{{ item.text }}</text>
      </touchable-opacity>
    </view>
  </view>
</template>

<script>
import LIBRARY from './consts/library'
export default {
  data: {
    word: LIBRARY[0],
    actions: [],
    check: false
  },
  mounted() {
    this.changeWord();
    this.changeButton();
    setInterval(() => {
      if (!this.check) {
        this.changeWord();
         this.changeButton();
      }
    }, 5000)
  },
  computed: {
    showcheck() {
      return !this.check;
    }
  },
  methods: {
    changeWord() {
      this.word = LIBRARY[this.getRandom()];
    },
    changeButton() {
      const numberButton = 4;
      this.actions = [];
      const random = this.getRandom(numberButton);
      for (let i = 0; i < numberButton; i++) {
        if (i === random) {
          this.actions.push({
            text: this.word.key,
            onClick: () => {
              this.changeWord();
              this.changeButton();
            },
            cssClass: ""
          });
        } else {
          this.actions.push({
            text: LIBRARY[this.getRandom()].key,
            onClick: () => {
              this.actions[i].cssClass = "active";
            },
            cssClass: ""
          });
        }
      }
    },
    getRandom(length = LIBRARY.length) {
      const random = Math.floor(Math.random() * length);
      if (
        LIBRARY[random].key == this.word.key ||
        this.actions.find(element => {
          return LIBRARY[random].key == element.text;
        })
      ) {
        return this.getRandom(length);
      }
      return random;
    }
  }
};
</script>

<style>
.app {
  background-color: #000;
  flex: 1;
  display: flex;
}
.nav {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}


.button {
  background-color: #4caf50;;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 60px;
  border-radius: 5px;
  font-size: 300;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex: 1;
}

.text-content {
  font-size: 70;
  color: #4caf50;
  border-width: 1px;
  border-color: #4caf50;
  border-radius: 5px;
  padding: 20px;
}

.key-content {
  font-size: 30;
  color: #fff;
  border-width: 1px;
  padding: 20px;
  font-weight: 200;
}

.active {
  background-color: red;
  display: none;
}

.text {
  font-size: 30;
  font-weight: 300;
  color: #fff;
}

.switch-content {
  display: flex;
  flex-direction: row;;
  width: 100%;
  padding-top: 60px;
  padding: 20px;
  justify-content: flex-end;
  align-items: flex-end;
}

.switch-text {
  color: #fff;
  flex: 1;
  height: 30px;
  margin-right: 10px;
  line-height: 30px;
  display: flex;
  text-align: right;
  justify-content: center;
  align-items: center;
}
</style>
